# Python
**/__pycache__/
*.py[cod]

core/.cache/

# Ignore CMake build artifacts
**/CMakeCache.txt
**/CMakeFiles/
**/Makefile
**/cmake_install.cmake
**/compile_commands.json

uhd/
libiio/build/
env/
.venv/
libad9361-iio/build/
core/build/
core/build.bak/
