# Python
**/__pycache__/
*.py[cod]

core/.cache/

# Ignore CMake build artifacts
**/CMakeCache.txt
**/CMakeFiles/
**/Makefile
**/cmake_install.cmake
**/compile_commands.json

uhd/
libiio/build/
env/
.venv/
libad9361-iio/build/
core/build/
core/build.bak/

# Ignores for the firmware
firmware/plutosdr-fw/build/
firmware/plutosdr-fw/.Xil

# Vim swap files
*.swp

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su